*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
nav{
    background-color: rgb(253, 227, 246);
    padding: 20px;
    box-shadow: 3px 3px 30px;
}
nav .row {
    justify-content: center;
}
nav li{
    display: inline-block;
}
nav li a {
    display: inline-block;
    padding: 20px 15px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: black;
    position: relative;
}
nav li a:hover{
    color: red;
}
nav li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background: black;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
nav li a:hover::after{
    visibility:visible;
    opacity: 1;
    width: 100%;
}
